*{
    padding: 0;
    margin: 0;
    font-family: "poppins";
}
body{
    background-color: rgb(22, 19, 19);
    color: white;
}
.main{
    height: 100v;
    display: flex;
    justify-content: center;
}
.heading{
    text-align: center;
    line-height: 5rem;
    height: 5rem;
    width: 100%;
    border-top-style: color;
    border-bottom-style:ridge ;
    background-color: darkslategray;
    box-shadow: 0px 0px 100px rgb(59, 56, 56);

}
#rock{
    background-image: url("rock.png");
    background-size: cover ; 
    background-position: -80px;
    &:hover{
        box-shadow:0px 0px 100px rgb(255, 74, 240) ;
    }
}
#paper{
    background-image: url("paper.png");
    background-size: cover ; 
    background-position: -80px;
    &:hover{
        box-shadow:0px 0px 100px rgb(204, 0, 255) ;
    }
}
#scissors{
    background-image: url("scissors.png");
    background-size: cover ; 
    background-position: -80px;
    &:hover{
        box-shadow:0px 0px 100px rgb(0, 238, 255) ;
    }
}
.obj{
    font-weight:600 ;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    margin-top: 200px;
    transition: all 0.2s ease-in-out 0s;
    &:hover{
        transform: scale(1.1);
    }
}
.txt1{
    position: relative;
    top: 230px;
    left: 20px;
    font-size: 2.7rem;
}
.scores{
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
    
}
#yourscore{
    margin: 100px;
    transform: scale(2);
}
#compscore{
    margin: 100px;
    transform: scale(2);
}
.sco{
    margin-right: 20px;
    position: relative ;
    top: 75px;
font-size: 50px;
}
.scoe{
    position: relative ;
    top: 75px;
font-size: 50px;
}
@media (max-width: 700px){
    .sco , .scoe{
        position: relative;
        top: 45px;
        font-size: 45px;
    }
    .obj{
        height: 15vh;
        width: 15vh ;
    }
    #scissors ,#papper , #rock{
        background-position: -60px;
    }
    .txt1{
        position:relative ;
        top: 180px;
        font-size: 1.7rem;
    }
    .scores{
        position: relative;
        top: 30px;
    }
    #yourscore , #compscore{
        margin: 70px;
        transform: scale(1.5);
    }
}

.choose{
    
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result{
height: 10rem;
width: 300px;
background-color: rgb(32, 30, 30);
text-align: center;
line-height: 10rem;
font-size: 1.6rem;
border-radius: 10%;
position: relative;
z-index: 0;
transition: all 0.3s ease-in-out 0s;
&:hover{
    box-shadow: 0px 0px 100px rgb(63, 63, 63);
    color: bisque;
}

}



@media (max-width: 580px){
    .sco , .scoe{
        margin-right: 20px;
        position: relative;
        top: 0px;
        font-size: 20px;
    }
    .obj{
        height: 10vh;
        width: 10vh ;
    }
    #scissors ,#paper , #rock{
        background-position: -40px;
    }
    .txt1{
        position:relative ;
        top: 120px;
        font-size: 1.1rem;
    }
    .scores{
        position: relative;
        top: 30px;
    }
    #yourscore , #compscore{
        margin: 30px;
        transform: scale(1.2);
    }
}
@media (max-width: 375px ){
    .sco , .scoe{
        position: relative;
        top: 0px;
        font-size: 20px;
    }
    .obj{
        height: 10vh;
        width: 10vh ;
    }
    #scissors ,#paper , #rock{
        background-position: 20px;
    }
    .txt1{
        position:relative ;
        top: 120px;
        font-size: 1.1rem;
    }
    .scores{
        position: relative;
        top: 30px;
    }
    #yourscore , #compscore{
        margin: 30px;
        transform: scale(0.6);
    }
}

@media (max-height: 850px){
    .obj{
        height: 10vh;
        width: 10vh ;
    }
    #scissors ,#paper , #rock{
        background-position: -40px;
    }
    .txt1{
        position:relative ;
        top: 120px;
        font-size: 1.1rem;
    }
    .scores{
        position: relative;
        top: 30px;
    }
    #yourscore , #compscore{
        margin: 30px;
        transform: scale(1);
    }
}
@media (max-width: 420px){
    .heading{
        font-size: 23px;
    }
    .obj{
        height: 5vh;
        width: 5vh ;
    }
    #scissors ,#paper , #rock{
        background-size: cover ;
        background-position: -20px;

    }
    .txt1{
        position:relative ;
        top: 60px;
        left: 0;
        font-size: 0.9rem;
    }
    .scores{
        position: relative;
        top: 30px;
    }
    #yourscore , #compscore{
        margin: 4px;
        transform: scale(1);
    }
}
@media (min-height: 1756px){
    .obj{
        height: 20vh;
        width: 20vh ;
    }
    #scissors ,#paper , #rock{
        background-position: -140px;
    }
    .txt1{
        position:relative ;
        top: 390px;
        left: 90px;
        font-size: 3.1rem;
    }
    .scores{
        position: relative;
        top: 60px;
    }
    #yourscore , #compscore{
        margin: 200px;
        transform: scale(3.2);
    }
}
